@* @{
  Layout = "_Layout";
}
@using BestRestaurants.Cuisine;
<h1>Restaurant #@Model.RestaurantId : @Model.RestaurantName</h1>
<ul>
  <li>@Model.RestaurantLocation</li>
  <li>@Model.RestaurantPhone</li>
  <li>@Model.RestaurantMenu</li>
  <li>@Model.Cuisine.CuisineName</li>
</ul>
<p>@Html.ActionLink("Go Home","Index","Home")</p> *@