@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Edit @Html.DisplayFor(model => model.RestaurantName)!</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)
    @Html.LabelFor(model => model.RestaurantName)
    @Html.EditorFor(model => model.RestaurantName)
    @Html.LabelFor(model => model.RestaurantLocation)
    @Html.EditorFor(model => model.RestaurantLocation)
    @Html.LabelFor(model => model.RestaurantPhone)
    @Html.EditorFor(model => model.RestaurantPhone)
    @Html.LabelFor(model => model.RestaurantMenu)
    @Html.EditorFor(model => model.RestaurantMenu)
    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Show all Restaurants", "Index")</p>